@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

/*Start of default values*/
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box ;
    margin : 0;
    padding : 0;
}

p {
    padding-bottom: 1em;
    line-height: 1.5;
}

a {
    color: rgb(0, 191, 255);
    text-decoration: none;
}
/*End of default values*/

/*HEADER*/
header h1{
    background-image: url(../images/headerBackground.jpg);
    background-position: center;
    color: white;
    padding: 3em 30px 1em 30px;
    text-shadow: 0px 0px 15px white;
}

/*Navigation*/

header nav ul{
    background-color: rgb(170, 170, 170);
    list-style: none;
    display: flex;
    gap : 1em;
}

header nav [class="active"] a{
    color: rgb(0, 191, 255);
    font-weight: 700;
    background-color: white;
    padding: 10px 15px 10px 15px;
}

header nav ul li a{
    color: Black;
    text-decoration: none;
}

/*MAIN*/

main {
    background-color: white;
    padding: 30px 30px 0;
}

header h2{
    border-bottom: 1px solid rgb(170, 170, 170);
}

header p:first-of-type{
    font-style: italic;
    color: grey;
    text-align: right;
    padding: 0.5em 0em 1em 0em;
}

main h3{
    padding-bottom: 1em;
}

main li {
    padding-bottom: 0.5em;
}

/*Description*/
.gameDescription, .gameFeatures {
    list-style-type: " 🎮 ";
    padding-left: 40px;
}

/*Wireframe*/
main .imageLeft {
    max-width : 50%;
    height : auto;
    float: left;
    margin-right: 30px;
}

/*Flux*/
main .Diagrams {
    width: 100%;
    height: auto;
}

/*Mockup*/
.screenshot-item img {
    width: 300px;
    border-radius: 5px;
    gap : 2em;
}

.screenshot-item {
    max-width: 300px;
    height: auto;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0 2em;
}

/*Logbook*/
table {
    max-width: 80%;
    margin: 1em 10%;
    text-align: left;
}

thead {
    height: 2em;
    background-color: rgb(240, 240, 240);
}

th, td{
    padding: 0.5em 1em;
    align-content: flex-start;
}

/*ASIDE*/

aside {
    margin: 20px;
    border-radius: 20px;
    min-width: 250px;
    width: 35%;
    max-width: 450px;
    box-shadow: 0px 0px 10px grey;
}

aside h3{
    background-color: rgb(0, 191, 255);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1em 20px 0.5em 20px;
}

aside ul{
    padding: 1em 20px 1em 20px;
    list-style: none;
}

/*FOOTER*/
footer {
    background-color: rgb(170, 170, 170);
    display: flex;
    justify-content: flex-end;
}

footer img {
    width: 10em;
    margin: 1em 1em 1em 1em;
}



