@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

/*Start of default values*/

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box ;
    margin : 0;
    padding : 0;
}

p {
    padding-bottom: 1em;
}

a {
    color: rgb(0, 191, 255);
    text-decoration: none;
}

/*End of default values*/

/*HEADER*/
header h1{
    background-image: url(../images/headerBackground.jpg);
    color: white;
    padding: 3em 30px 1em 30px;
    text-shadow: 0px 0px 15px white;
}

header nav ul{
    background-color: rgb(170, 170, 170);
    padding: 1em 30px 1em 30px;
    list-style: none;
    display: flex;
    gap : 1em;
}

header nav ul li:first-child{ 
    display: none; /* ‼️ IMPORTANT, a ajuster pour la partie responsive*/
}

header nav ul li a{
    color: Black;
    text-decoration: none;
}

/*MAIN*/

main {
    display: flex;
    align-items: flex-start;
}

#articles {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    padding: 30px;
}

#articles header h2{
    border-bottom: 1px solid rgb(170, 170, 170);
}

#articles header p:first-of-type{
    font-style: italic;
    color: grey;
    text-align: right;
    padding: 0.5em 0em 1em 0em;
}

/*ASIDE*/

aside {
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
}
aside h3{
    background-color: rgb(0, 191, 255);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1em 20px 0.5em 20px;
}

aside ul{
    padding: 1em 20px 1em 20px;
    list-style: none;
}

/*FOOTER*/
footer {
    background-color: rgb(170, 170, 170);
    display: flex;
    justify-content: flex-end;
}

footer img {
    width: 10em;
    margin: 1em 1em 1em 1em; 
}

